/* styles used across different pages and elemets here */

*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: .75rem 2rem;
    background-color: hsl(348, 45%, 98%);
}

h3 {
    font-size: 1.3rem;
}

ol, ul{
    list-style-type: none;
    padding: 0;
}

li, a, input, label {
    font-size: 1.2rem;
    font-weight: 500;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr)); /*automatically generate the columns. 
    Minimum size is 50vh (use vh instead of vw because of mobile), max size is as large as it needs to be */
    gap: 1rem;
    align-items: flex-start; /*always at the top and does not fill in the full height */
}

.hidden-input {
    display: none;
}

.btn {
    --color: hsl(200, 50%, 50%); /*use a varible!*/
    background: var(--color);
    border: none;
    color: white;
    font-size: 1rem;
    padding: .5em .75em; /* use em instead of rem, so that if we scale the font, the padding scales with it. */
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, btn:focus {
    background: hsl(200, 50%, 60%); /*change background to a lighter one on hover*/
}

.btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
}

.btn + .btn { /*very cool sytax trick! */
    margin-left: .25rem;
}

@media (max-width: 600px) {
    body {
        margin: .5rem .75rem;
    }

    .card-grid {
        grid-template-columns: repeat(1, 95vw); /*automatically generate the columns. 
        Minimum size is 50vh (use vh instead of vw because of mobile), max size is as large as it needs to be */
    }
}

@media (max-width: 400px) {
    body {
        margin: .25rem .5rem;
    }

    .card-grid {
        grid-template-columns: repeat(1, 95vw); /* I don't know why 100vw does not span the full width */
    }
}