.card-header > a {
    color: black;
    position: relative; /*for a::before{ position:absolute } to work */
}

.card-header > a::before { /*Link underline*/
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: hsl(200, 50%, 50%);
    bottom: 0;
    left: 0;
    transform-origin: left; /*hide from right to left */
    transform: scaleX(0); /*hide by default*/
    transition: transform 300ms ease-in-out;
  }

.card-header > a:hover::before {
  transform-origin: left; /*where to start scaling from */
  transform: scaleX(1);
}

.card {
    box-sizing: border-box;
    --padding: 1rem;/* rem is relative to the document root (eg. body?) Research this further*/
    background: white;
    border: solid #777;
    border-radius: 0.25rem;
    overflow: hidden; /*to round the image corners */
    display: grid;
    grid-template-columns: 150px auto auto;
    transition: 200ms transform ease-in-out; /* smooth out the zoom in */
    min-width: 300px;
}

.card.card-shadow {
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2); /*x-offset, y-offset, blur, spread, color */
}

.card-image {
    grid-column: 1;
    grid-row: 1/4;
    padding: 0;
    overflow: hidden;
}

.card-image > img {
    display: block;
    height: 100%;
    max-width: 150px;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
}

.card:hover  {
    transform: scale(1.025); /*to zoom on hover */
}

.card-header {
    grid-column: 2/4;
    grid-row: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--padding);
    padding-bottom: 0;
    font-size: 1.5rem;
    margin-bottom: .5rem; /*Space header from body*/
    overflow: hidden;
}

.card-body {
    grid-column: 2/4;
    grid-row: 2;
    max-height: 5rem;
    font-size: .9rem;
    padding: 0 var(--padding); /* vertical padding is 0 (first number) */
    text-overflow:ellipsis;
    overflow:hidden;
    /* Addition lines for 4 line or multiline ellipsis */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-rating {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    justify-self: start;
    font-size: 1rem;
    padding: var(--padding);
    margin-bottom: 0.5rem;
}

.card-footer {
    align-self: end; /*alighn towards the bottom */
    justify-self: end; /*justify towards the right */
    grid-row: 3;
    grid-column: 3;
    margin-top: .5rem;
    padding: var(--padding);
    padding-top: 0;
}