.movie-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    --banner-height: 38em;
}

.movie {
    flex-grow: 1;
    align-self: flex-start;
    margin-top: 2em;
    max-width: 70%;
    display: grid;
    grid-template-columns: calc((var(--banner-height) * 2/3) - .5em) auto; /* set the first column to banner width */
    grid-template-rows: auto auto auto;
    justify-self: center;
    align-self: center;
    gap: 1em;
}

.movie-banner {
    grid-column: 1;
    grid-row: 1/4;
    max-height: var(--banner-height);
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
}

.movie-header {
    font-size: 1.5em;
    grid-column: 2;
    grid-row: 1;
}

.movie-body {
    grid-row: 2;
    font-size: 1.3rem;
    align-self: flex-start;
}

.edit-description {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    padding: .25em;
    border-radius: 5px;
    background-color: hsl(348, 10%, 98%);

}

.edit-description:hover {
    cursor: pointer;
}

.edit-description:focus {
    cursor: text;
}

.movie-footer {
    font-size: 1.3em; 
    grid-row: 3;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.movie-footer > span {
    font-weight: bold;
}

.similar-section  {
    margin-top: 2em;
    max-height: var(--banner-height);
    max-width: 30%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.similar-section > h3 {
    margin-left: 16%; /* recenter */
}

.movie-btn {
    font-size: 1.25rem;
}

@media (max-width: 1000px) {
    .movie-container {
        flex-direction: column;
    }

    .movie {
        margin-top: 1em;
        min-width: 100%;
        max-width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .movie-banner {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
    }
    
    .movie-header {
        grid-column: 1;
        grid-row: 2;
    }
    
    .movie-body {
        grid-column: 1;
        grid-row: 3;
    }

    .edit-form {
        margin-bottom: 5em;
    }


    .movie-footer {
        grid-column: 1;
        grid-row: 4;
    }

    .similar-section  {
        justify-self: center;
        margin-top: 2em;
        max-width: 100%;
        max-height: 150%;
        gap: 2em;
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .similar-section > h3 {
        margin-left: 0; /* recenter */
    }
}